name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-slim

    permissions:
      contents: read

    strategy:
      matrix:
        node-version: [4.x, 20.x, 22.x, 24.x, 25.x]

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: node test
